*{
    box-sizing: border-box;
    margin: 0;
padding: 0;
}
.main-section{
    background-image: url("assert/boo.png");
    height:100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
}
.section-1{
    padding: 20px 5px;
    width: 90%;
    margin: 0 auto;
}
.logo h2{
    color: green;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
.nav a{
    margin: 20px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(84, 65, 3);
}
.heading-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.heading{
    padding: 50px 0px;
}
.heading h1{
    font-size: 8rem;
    width: 600px;
    font-weight: 800;
    font-family:ui-rounded;
}
.heading p{
    font-size: 1.2rem;
    width: 600px;
    line-height: 30px;
    margin-top: 15px;
    font-family: monospace;
}
.more{

    margin-top: 20px;
  
}
.more button{
    padding: 5px 30px;
    border-radius: 30px;
    outline: none;
    background-color: green;
    color: white;
    font-size: 1.3rem;
}
.card-part{
    border: 1px solid rgb(221, 195, 195);
    width: 300px;
    box-shadow: 3px 5px 10px 2px rgb(98, 209, 104),
    -3px -5px 10px 5px pink;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    outline: none;
}
.card-item{
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
}
.card-item img{
    height: 200px;
    width: 200px;
}
.card-item h2{
    margin-top: 20px;
}
.card-item p{
    margin-top: 30px;
}
.para{
    text-align: center;
}
.para h3{
    font-size: 3.5rem;
}
.section-2 {
    padding: 40px 20px;
}
.card-area{
    padding: 60px 10px;
}
.para hr{
    width: 50px;
    margin-top: 10px;
}
.about-info{
    padding: 60px 20px;
}
.about-area{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about-heading{
    margin: 190px 30px;
}
.about h1{
    text-align: center;
    font-size: 4rem;
}
.about hr{
    width: 20px;
}
.about p{
    font-size: 1.1rem;
    margin-top: 20px;
    line-height: 25px;
    text-align: center;
    font-family: monospace;
}
.section-4{
    background-color: rgb(151, 122, 122);
    padding: 40px 30px;
}
.picture{border-radius: 100px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 10px;
  padding-top: 15px;
    text-align: center;
    box-shadow: 2px 4px 7px 2px rgb(78, 78, 76),
    -2px -4px 7px 2px rgb(71, 54, 54);
}
.gmail{
    text-align: center;
    box-shadow: 2px 4px 7px 2px rgb(32, 31, 31),
    -2px -4px 7px 2px rgb(189, 144, 144);
    width: 400px;
    height: 90px;
    margin: 0 auto;
 padding-top: 40px;
}
.gmail p{
    color: white;
}
.gmail span{
    color: brown;
    margin-left: 10px;
}
.menu1 {
 position: absolute;
   right: 20px;
   background-color: aqua;
   margin-top: -26px;
   display: none;
}
#menu{
    background-color: green;
    font-size: 1rem;
    color: white;
    padding: 5px;
}
#cancel{
    background-color: red;
    font-size: 1rem;
    padding: 5px;
    color: white;
}
   

.picture {
    margin-bottom: 50px;
}
.icon{
    text-align: center;
}
.social{
    margin-top: 30px;
}
.social .icon a{
    font-size: 1.4rem;
    border: 1px solid black;
    padding: 4px 7px;
    background-color: black;
    border-radius: 100px;
    margin: 5px;
    box-shadow: 2px 4px 7px 2px rgb(32, 31, 31),
    -2px -4px 7px 2px rgb(189, 144, 144);
    color: white;
}

@media (max-width: 860px){
    .nav {
        display: none;
        transition: 3s ease-in;
        margin-right: 20px;
        margin-top: -20px;
    }
    .boomi{
        transition: 3s;
    }
    .menu1{
        display: block;
      
    }
    #cancel{
        display: none;
     
    }
    .nav a{
       display: flex;
    
       flex-direction: column;
        text-decoration: none;
        z-index:1;
        font-size: 1.2rem;
        color: rgb(241, 208, 96);
    }
    .heading-area{
        margin-left: -30px;
    
    }
    .main-section{
        height:100vh;
        background-repeat: no-repeat;
        width: 100%;
        background-size:cover;
    }
    .heading h1{
        font-size: 4rem;
        width: 400px;
        font-weight: 800;
        font-family:ui-rounded;
    }
    
    .heading p{
        font-size: 1rem;
        width: 300px;
        line-height: 30px;
        margin-top: 15px;
        font-family: monospace;
    }
    .image-part img{
        height: 300px;
        width: 300px;
    }
    .boooo{
        margin-top: 70px;
    }
    .card-item{
        display: flex;
        flex-wrap: wrap;
        margin-top: -50px;
       
    }
    .card-part{
        margin-top: 10px;
    }
    .about-area{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
       
    }
    .about-image{
        text-align: center;
        margin: 0 auto;
     
    }
    .about-image img{
        height: 300px;
        width: 300px;
    }
    .about-heading{
        margin: 10px 30px;
    }
    .about p{
        font-size: 1rem;
        margin-top: 20px;
        line-height: 20px;
        text-align: center;
        font-family: monospace;
    }
}